:root {
  --background-color: rgb(230, 230, 230);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0px;
}

html::-webkit-scrollbar-thumb {
  background: transparent;
}

body {
  overflow: hidden;
  background: var(--background-color);
}

#spin-wheel-page {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toss-page {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 100vw;
}
